.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

#root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #1C1C1C;
  line-height: 1.4;
  max-width: 1920px;
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
    will-change: transform;
  }
}

//loading
.imagesLoading {
  display: none;
  img {
    width: 0;
  }
}

//effects
.image-cover {
  //overflow: hidden;
  display: block;
  img {
    transition: filter .6s, opacity .6s, transform .6s, box-shadow .3s;
    will-change: transform
  }
  &:hover img {
    transform: scale(1.05);
  }
}

.animate {
  will-change: opacity, transform;
  -webkit-transition: -webkit-transform .5s ease, opacity .5s ease;
  -moz-transition: -moz-transform .5s ease, opacity .5s ease;
  -ms-transition: -ms-transform .5s ease, opacity .5s ease;
  -o-transition: -o-transform .5s ease, opacity .5s ease;
  transition: transform .5s ease, opacity .5s ease;
  opacity: 0;

  &.duration1 {
    -webkit-transition: -webkit-transform 1s ease, opacity 1s ease;
    -moz-transition: -moz-transform 1s ease, opacity 1s ease;
    -ms-transition: -ms-transform 1s ease, opacity 1s ease;
    -o-transition: -o-transform 1s ease, opacity 1s ease;
    transition: transform 1s ease, opacity 1s ease;
  }

  &.fadeDown {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  &.fadeUp {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  &.fadeToLeft {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  &.fadeToRight {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  &.animateStart {
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
    -ms-transform: translateX(0px) !important;
    -o-transform: translateX(0px) !important;
    transform: translateX(0px) !important;
    opacity: 1;
  }
}

//
//menu
#navbar {
  background-color: #F4F4FF; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: 0.3s; /* Transition effect when sliding down (and up) */
  z-index: 9;
  padding: 10px 0;
  .logo {
    max-width: 60px;
  }
  &.active {
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  }
  //&.scroll {
  //  padding: 5px 0;
  //  .logo {
  //    max-width: 40px;
  //  }
  //}
  .container {
    align-items: center;
  }
  .menu {
    margin-left: auto;
  }
  a {
    display: flex;
    color: #000;
    text-decoration: none;
    font-size: 17px;
    margin-left: 60px;
    flex-direction: column;
    align-items: center;
    outline: none;
    &:after {
      content: '';
      width: 0;
      height: 1px;
      background: #000;
      transition: .3s;

    }
    &:hover {
      color: black;
      &:after {
        width: 100%;
      }
    }
  }
}

//top
#top {
  background: linear-gradient(123.48deg, rgba(255, 255, 255, 0.2) 0.63%, rgba(255, 255, 255, 0) 66.89%), #F4F4FF;
  padding-top: 80px;
  .flex1 {
    border-top: 1px solid #ececec;
    padding: 40px 0 110px;
    .el {
      position: absolute;
      &.el1 {
        bottom: -130px;
        left: -53px;
      }
      &.el2 {
        right: 93px;
        top: 50px;
      }
      &.el3 {
        right: 0;
        top: 50%;
      }
    }
    .item1 {
      position: relative;
      width: 100%;
    }
    .item2 {
      position: relative;
      flex-shrink: 0;
      img {
        position: relative;
        z-index: 1;
      }
      .circle {
        background: #9BA0FC;
        position: absolute;
        bottom: -55px;
        right: 0;
        border-radius: 100%;
        width: 500px;
        height: 500px;
      }
    }
  }
  .flex2 {
    flex-direction: column;
    max-width: 490px;
    height: 100%;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin-top: 55px;
    h1 {
      font-size: 50px;
      color: #F15F79;
      margin: 0;
      line-height: 1.2;
      span {
        color: #1A1FA3;
      }
    }
    .sub {
      font-size: 20px;
      color: #717171;
      line-height: 1.3;
      margin: 35px 0;
    }
  }
}

.btn, #form .btn {
  background: #F15F79;
  border-radius: 60px;
  font-size: 17px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  width: fit-content;
  padding: 18px 30px;
  transition: .3s;
  border: none;
  &:hover {
    background: #bf495e;
  }
  &.blue {
    background: #757BFF;
    &:hover {
      background: #565bbb;
    }
  }
}

//section1
#section1 {
  padding: 70px 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 0 50px;
    line-height: 1.2;
  }
  .flex {
    justify-content: space-between;
    .item {
      background: linear-gradient(329.79deg, #0052D4 -31.21%, #4364F7 18.94%, #6FB1FC 98.47%);
      box-shadow: 5px 5px 10px rgba(0, 27, 111, 0.4);
      border-radius: 20px;
      color: #fff;
      width: calc(33.33333% - 12.5px);
      flex-shrink: 0;
      text-align: center;
      padding: 30px;
      position: relative;
      img {
        position: relative;
        z-index: 1;
      }
      .imgS1 {
        margin-top: -50px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
      }
      .imgS2 {
        position: absolute;
        top: 15px;
        right: 15px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        padding: 5px;
      }
      .bottom {
        position: relative;
        z-index: 1;
      }
      .title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      .txt {
        letter-spacing: 1px;
        font-weight: 300;
      }
      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: .5;
        border-radius: 20px;
      }
      &.item2 {
        background: linear-gradient(330.18deg, #C84E89 -27.91%, #F15F79 101.7%);
      }
      &.item3 {
        background: linear-gradient(151.57deg, #DA22FF 0%, #9733EE 119.33%);
      }
    }
  }
}

//section2
#section2 {
  padding: 70px 0;
  background: linear-gradient(329.79deg, #0052D4 -31.21%, #4364F7 18.94%, #6FB1FC 98.47%);
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px auto;
    color: #fff;
    max-width: 700px;
    line-height: 1.2;
  }
  .sub {
    color: #fff;
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  .keen-slider {
    .keen-slider__slide {
      background: #FFFFFF;
      border-radius: 20px;
      padding: 15px 15px 30px;
      text-align: center;

      .imgWrap {
        max-height: 215px;
        overflow: hidden;
        border-radius: 20px;
      }
      .name {
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 10px;
      }
    }
  }
  .flex2 {
    margin: 30px auto 0 auto;
    .item {
      color: #fff;
      text-align: center;
      width: 33.333333%;
      padding: 0 50px;
      .title {
        font-size: 40px;
        font-weight: bold;
      }
      .txt {
        font-weight: 300;
      }
    }
  }
  .arrows {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 15px;
    .arrow {
      width: 35px;
      color: #fff;
      fill: #fff;
      border: 1px solid;
      border-radius: 100%;
      padding: 8px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .7;
      }
      &.arrow--right {
        margin-left: 15px;
      }
    }
  }
  .dots {
    display: none;
  }
}

//section3
#section3 {
  padding: 70px 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 750px;
    line-height: 1.2;
  }
  .sub {
    max-width: 700px;
    margin: 0 auto 50px auto;
    text-align: center;
  }
  .flex {
    .item {
      flex-shrink: 0;
      width: 50%;
      &.item1 {
        position: relative;
        .img {
          position: relative;
          z-index: 1;
        }
        .el {
          position: absolute;
          bottom: 0;
          &.el1 {
            position: absolute;
            left: 60px;
          }
          &.el2 {
            right: 62px;
            z-index: 2;
          }
          &.el3 {
            left: 60px;
          }
        }
      }
      &.item2 {
        position: relative;
        .el {
          position: absolute;
          right: -15px;
          bottom: -80px;
        }
      }
    }
  }
  #form {
    background: #FFFFFF;
    box-shadow: -7px -7px 15px rgba(0, 0, 0, 0.07), 7px 7px 15px rgba(0, 0, 0, 0.07);
    border-radius: 20px;
    max-width: 480px;
    padding: 40px;
    .title {
      margin-bottom: 30px;
    }
    .input {
      border: 1px solid #a2a2a2;
      border-radius: 5px;
      padding: 5px 15px;
      width: 100%;
      margin-bottom: 15px;
    }
    .btn {
      width: 100%;
    }
  }
}

//section4
#section4 {
  padding: 70px 0 0;
  h2 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 30px auto;
    max-width: 750px;
    line-height: 1.2;
  }
  .GalleryImgs {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    height: 840px;
    border-radius: 3px;
    width: 100%;
    margin: 40px auto;
    counter-reset: items;

    .img {
      width: calc(33.333333% - 30px);
      position: relative;
      color: #fff;
      box-sizing: border-box;
      margin-bottom: 27px;
      flex-shrink: 0;
      cursor: pointer;
      &::before {
        counter-increment: items;
        content: counter(items);
      }

      /* Re-order items into 3 rows */
      .img:nth-child(3n+1) {
        order: 1;
      }
      .img:nth-child(3n+2) {
        order: 2;
      }
      .img:nth-child(3n) {
        order: 3;
      }
    }

    /* Force new columns */
    &::before,
    &::after {
      content: "";
      flex-basis: 100%;
      width: 0;
      order: 2;
    }
  }
}

//section5
#section5 {
  padding: 0 0 70px 0;
  .btn {
    margin: 30px auto 0 auto;
  }
  h3 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 50px auto;
    max-width: 750px;
    line-height: 1.2;
  }
  .flex {
    align-items: center;
    .item1 {
      padding-right: 50px;
      position: relative;
      .el {
        position: absolute;
        z-index: -1;
        &.el1 {
          top: 18%;
          left: -138px;
        }
        &.el2 {
          top: 38%;
          right: -48px;
        }
      }
      .name {
        font-weight: bold;
        font-size: 24px;
      }
      .prof {
        color: #656565;
        margin-bottom: 30px;
      }
    }
    .item2 {
      flex-shrink: 0;
    }
  }
}

//section6
#section6 {
  padding: 50px 0;
  background-color: #F4F4FF;
  h3 {
    font-size: 40px;
    text-align: center;
    margin: 0 auto 50px auto;
    max-width: 750px;
    line-height: 1.2;
  }
  .flex1 {
    align-items: center;
    .item {
      &.item1 {
        width: 700px;
        flex-shrink: 0;
      }
      &.item2 {
        padding-left: 50px;
      }
    }
  }
  .flex2 {
    flex-direction: column;
  }
  .contacts {
    .item {
      margin-bottom: 24px;
      a {
        color: #000;
      }
      .title {
        font-weight: bold;
        margin-bottom: 5px;
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
    .soc {
      align-items: center;
      a {
        background-color: #bdbddc;
        display: flex;
        padding: 5px;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        align-items: center;
        justify-content: center;
        transition: .3s;
        margin-right: 15px;
        &:hover {
          opacity: .7;
        }
      }
    }
  }
}

//footer
#footer {
  background: #2d2d2d;
  color: #fff;
  padding: 30px 0;
}