@media (max-width: 1200px) {
  #root {
    font-size: 16px;
  }
  #top {
    .flex1 {
      .el {
        &.el1 {
          bottom: -122px;
          left: -27px;
          width: 115px;
        }
        &.el2 {
          right: 12px;
          top: 26px;
          width: 68px;
        }
        &.el3 {
          right: -21px;
          width: 64px;
        }
      }
      .item2 {
        img {
          max-width: 70%;
        }
        .circle {
          width: 400px;
          height: 400px;
        }
      }
    }
    .flex2 {
      padding-right: 15px;
      h1 {
        font-size: 40px;
      }
    }
  }
  #section1 .flex .item .title {
    font-size: 20px;
  }
  #section1, #section2, #section3, #section4 {
    padding: 30px 0;
    h2 {
      font-size: 32px;
      margin: 0 auto 30px auto;
    }
  }
#section4 {
  padding-bottom: 0;
}
  #section5, #section6 {
    padding: 0 0 30px 0;
    h3 {
      font-size: 32px;
      margin: 0 auto 30px auto;
    }
  }
  #section6 {
    padding: 30px 0;
    .flex1 .item.item1 {
      width: 600px;
    }
    .flex1 .item.item2 {
      padding-left: 20px;
    }
  }

  #section2 .flex2 .item .title {
    font-size: 32px;
  }

  #section3 .flex .item.item2 {
    padding-left: 30px;
  }

  #section4 .GalleryImgs {
    width: 935px;
    height: 670px;
    margin: 30px auto;
    position: relative;
    left: 20px;
  }
  }
@media (max-width: 960px) {
  #section4 .GalleryImgs {
    width: 730px
  }
  #section6 .flex1 .item.item1 {
    width: 445px;
  }
  #navbar a {
    font-size: 16px;
    margin-left: 20px;
  }
  #top .flex1 {
    padding-top: 20px;
    .item2 {
      flex-shrink: 1;

      img {
        max-width: 100%;
      }
      .circle {
        width: 310px;
        height: 310px;
      }
    }
    .item1 {
      flex-shrink: 0;
      max-width: 60%;
      padding-right: 15px;
    }
  }
  .flex2 {
    max-width: 100%;
  }
  #top .flex1 .el.el3 {
    right: 0;
  }
  #section1 h2, #section2 h2, #section3 h2, #section4 h2 {
    font-size: 26px;
  }
  #section1 .flex .item {
    padding: 30px 15px;
  }
  #section2 .flex2 .item {
    padding: 0 15px;
  }
  #section3 .flex .item.item2 .el {
    width: 100px;
  }
  #section4 {
    .container {
      overflow: hidden;
    }
    .GalleryImgs {
      left: 24px;
      height: 530px;
      margin-bottom: 0;
    }
  }
  #section5 .flex .item2 {
    width: 40%;
  }
}
@media (max-width: 760px) {
  .animate {
    &.fadeUp {
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  .container {
    max-width: 480px;
  }
  //
  #top {
    padding-top: 50px;
  }
  #section6 .flex1 {
    flex-wrap: wrap;
    .item.item1 {
      width: 100%;
      order: 2;
    }
  }
  #navbar {
    padding: 2px 0;
    .call {
      text-transform: uppercase;
      display: block;
      line-height: 1;
      border-bottom: 1px solid;
    }
  }
  #navbar .logo {
    max-width: 40px;
  }
  #navbar .menu {
    flex-direction: column;
    position: absolute;
    top: 78px;
    left: -100%;
    background: #f4f4ff;
    padding: 25px 50px;
    transition: .3s;
    a {
      align-items: flex-start;
      margin-left: 0;
      margin-bottom: 10px;
    }
    &.active {
      left: 0;
    }
  }

  .burger {
    margin-left: 25px;
    cursor: pointer;
    div {
      width: 27px;
      height: 3px;
      background-color: black;
      margin: 6px 0;
    }
  }

  #navbar .flexMob {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    a {
      margin-right: 15px;
      display: flex;
      align-items: center;
      flex-direction: row;
      font-weight: bold;
      img {
        width: 30px;
        margin-right: 10px;
        will-change: transform;
      }
    }
  }

  #top {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        max-width: 100%;
      }

      .flex2 {
        margin-top: 10px;
        h1 {
          font-size: 32px;
        }
        .sub {
          font-size: 18px;
          margin: 15px 0;
          position: relative;
          z-index: 1;
        }
        .btn {
          margin: 0 auto;
        }
      }
    }
    .flex1 {
      .item2 {
        margin-top: 30px;
      }
      .el {
        &.el2 {
          right: 12px;
          top: -24px;
        }
        &.el3 {
          right: -15px;
        }
      }
    }
  }


  #section1 {
    .flex {
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .dot {
      border: none;
      width: 10px;
      height: 10px;
      flex-shrink: 0;
      border-radius: 100%;
      margin: 0 4px;
      padding: 0;
      transition: .3s;
      background: #ababab;
      &.active {
        background-color: #000;
      }
    }

  }
  #section2 {
    .dots {
      display: flex;
    }
    .txt {
      max-width: 80%;
      margin: 0 auto;
    }
    .flex2 {
      flex-wrap: wrap;
      .item {
        width: 100%;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        .title {
          font-size: 24px;
        }
      }
    }
  }
  #section2 .keen-slider .keen-slider__slide img {
    margin: 0 auto;
    max-width: 80%;
    border-radius: 20px;
  }
  .btn, #form .btn {
    font-size: 16px;
  }
  #section3 {
    #form {
      padding: 30px;
    }
    h2 {
      margin-bottom: 15px;
    }
    .sub {
      margin-bottom: 25px;
    }
    .flex {
      flex-wrap: wrap;
      margin-bottom: 30px;
      .item {
        width: 100%;
        &.item1 {
          order: 2;
          margin-top: 50px;
        }
        &.item2 {
          padding-left: 0;
        }

        .el.el1 {
          left: 10px !important;
          bottom: -53px;
        }
        .el.el2 {
          right: -13px;
        }
        .el.el3 {
          left: 33px;
          bottom: -17px;
        }
      }


    }
  }

  #section4 {
    h2 {
      margin-bottom: 15px;
    }
    margin-bottom: 30px;
    .GalleryImgs {
      left: 0;
      height: auto;
      img {
        width: 100%;
      }
    }
  }

  p {
    margin-bottom: 15px;
  }

  #section5 {
    overflow: hidden;
    .flex {
      flex-wrap: wrap;
      .item1 {
        padding-right: 0;
        img {
          margin-bottom: 15px;
        }
        .name {
          font-weight: bold;
          font-size: 20px;
        }
        .prof {
          margin-bottom: 15px;
        }
      }
    }
  }

  #section5 h3, #section6 h3 {
    font-size: 24px;
  }

  #section6 .contacts {
    margin-bottom: 15px;
  }
}